
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shojumaru&family=ZCOOL+KuaiLe&display=swap');



body{
  font-family: "Poppins" , sans-serif;
  background-color: aliceblue;
  font-size: 0.9rem;
  line-height: 1.6;
  color: gray;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
a{
  color: gray;
  text-decoration: none;
}
ul{
  list-style: none;

}
h1,h2,h3,h4,h5,h6{
  color: gray;
  line-height: 1.1;
}
h1{
  font-size: 2.2rem;
}
h2{
  font-size: 1.9rem;
}
h3{
  font-size: 1.3rem;
  line-height: 1.25;
}
h4{
  font-size: 1.1rem;
}
h5{
  line-height: 1.4;
}
img{
  display: block;
  object-fit: cover;
  
}
section{
  margin-top: 6rem;
}

.container{
  width:100%;
  margin-inline: auto;

}
.btn{
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: white;
  font-weight: 500;
  cursor: pointer;
}
.btn.primary{
  background: gray;
  color: white;
}
.btn.category{
  background: rgb(222, 116, 116);
  color: white;
  font-size: 0.75rem;
  font-weight: 400;
}
.btn.sm{
  background: gray;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.3rem 0.7rem;
}
.btn.danger{
  background: rgb(105, 11, 11);
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.3rem 0.7rem;
}

.btn:hover{
  background: rgb(93, 91, 91);
  color: white;
}



nav{
  width: 100%;
  height: 5rem;
  display: grid;
  place-items: center;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid ;
  backdrop-filter: blur(50px);
  padding-left: 27px;
}

.nav_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav_menu{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav_toggle_btn{
  display: none;
}


footer{
  background-color: rgb(53, 47, 47);
  margin-top: 6rem;
  padding-top: 6rem ;
}
.footer_copyrght

.footer_categories li{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
margin-bottom: 4rem;
}
.footer_categories a{
  background: rgb(148, 142, 142);
  color: white;
  padding: 0.6rem 1.4rem ;
  border-radius: 5px;
}